body {
    background-image: url('../Proyecto/mosaic.jpg');
    background-size: 150px 150px;
    animation: movebackground 10s linear infinite;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F3C3B2;
}

@keyframes movebackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100px 100px; 
    }
}

.Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 60vw;
    background-color: #DAEBE3;
    border-radius: 10px;
    padding: 40px;
}

.Centro {
    text-align: center;
}

.Titulo1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.Titulo2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    font-size: 1.2em;
    border: none;
    border-radius: 6px;
    background-color: #657166;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #CFD6C4;
}

body {
    background-color: #99CDD8;
    color: #F3C3B2;
}

.Menu {
    background-color: #DAEBE3;
}

button {
    background-color: #657166;
}

button:hover {
    background-color: #CFD6C4;
}

.Centro {
    color: #657166;
}

.Titulo1 {
    color: #F3C3B2;
}

.Titulo2 {
    color: #F3C3B2;
}

label {
    font-size: 1.2em;
}
/* Estilos para los controles deslizantes */
input[type="range"] {
    -webkit-appearance: none; /* Eliminar el estilo por defecto de WebKit */
    appearance: none; /* Eliminar el estilo por defecto */
    width: 100%; /* Ancho completo */
    height: 10px; /* Altura del control deslizante */
    background: #CFD6C4; /* Color de fondo */
    border-radius: 6px; /* Borde redondeado */
    outline: none; /* Eliminar el contorno al hacer clic */
    margin: 10px 0; /* Margen superior e inferior */
}

/* Estilos para el deslizador en WebKit */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Eliminar el estilo por defecto de WebKit */
    appearance: none; /* Eliminar el estilo por defecto */
    width: 20px; /* Ancho del pulgar */
    height: 20px; /* Altura del pulgar */
    background: #657166; /* Color de fondo del pulgar */
    border-radius: 50%; /* Hacer el pulgar redondeado */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el pulgar */
}

/* Estilos para el deslizador en Firefox */
input[type="range"]::-moz-range-thumb {
    width: 20px; /* Ancho del pulgar */
    height: 20px; /* Altura del pulgar */
    background: #657166; /* Color de fondo del pulgar */
    border-radius: 50%; /* Hacer el pulgar redondeado */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el pulgar */
}


.Puntuacion{
    background: #CFD6C4;
    font-size: 1.5em;
    color: #FDE8D3;
    border-radius: 6px;
    height: 6em;
}